body{
margin:0;
font-family:Arial, sans-serif;
background:#111;
color:white;
}
   
button{padding:12px 18px; border:none;border-radius:10px;cursor:pointer;font-size:16px;}
#bookBtn{background:rgb(175, 176, 178);color:white;}
#bookingModal{display:none;position:fixed;top:50%;left:50%;transform:translate(-50%,-50%);
background:white;padding:25px;border-radius:15px;width:320px;box-shadow:0 0 15px rgba(0,0,0,0.3);}
input,select{width:100%;padding:10px;margin-top:6px;border-radius:10px;border:1px solid #ccc;font-size:15px;}
.modal-buttons{display:flex;gap:10px;margin-top:15px;}
#confirmBooking{background:green;color:white;flex:1;}
#closeModal{background:#ddd;flex:1;}
#statusMsg{margin-top:12px;font-size:14px;}




header{
background:#000;
padding:20px;
text-align:center;
font-size:28px;
font-weight:bold;
}





.hero{
background:url('https://images.unsplash.com/photo-1621605815971-fbc98d665033?w=1600&auto=format&fit=crop') center/cover no-repeat;
height:400px;
display:flex;
align-items:center;
justify-content:center;
font-size:40px;
font-weight:bold;
}

.section{
padding:60px 20px;
text-align:center;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
gap:30px;
max-width:1200px;
margin:auto;
}

.card{
background:#1c1c1c;
padding:20px;
border-radius:15px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:250px;
object-fit:cover;
border-radius:15px;
display:block;
}

footer{
background:#000;
padding:20px;
text-align:center;
margin-top:40px;
}

/* Lightbox */
#lightbox{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
justify-content:center;
align-items:center;
}

#lightbox img{
max-width:90%;
max-height:90%;
border-radius:20px;
}
@media (max-width: 800px){
   
    header{
        font-size:20px ;
       
    }
    #bookBtn{
        display: flex;
       
 
     width: 100px;
     height: 50px;
     font-size: 15px;
    }
    .hero{
        
        width: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 30px;
    }
    #bookingModal{
        width: 250px;
        height: auto;
    }
}
